# Hive DML Statements

In [ ]:
# Insert Rows into Table
INSERT INTO emp.employee values(7,'scott',23,'M');
INSERT INTO emp.employee values(8,'raman',50,'M');

#Inserting multiple Rows
INSERT INTO employee VALUES (13,'Mari',51,'M'),(14,'Pat',34,'F');

#Inserting values to specific columns, for not specified columns Hive can table as NULL values
INSERT INTO EMP.EMPLOYEE(id,name) VALUES (20,'Bhavi');

#Insert Using a file
LOAD DATA LOCAL INPATH '/home/hive/data.txt' INTO TABLE emp.employee;

#Insert Using a Query
INSERT INTO emp.employee2 SELECT * FROM emp.employee;


NOTE:- Updates and Deletes can work only with Transaction and ORC tables

In [ ]:
#Insert Vs Insert Overwrite
#INSERT INTO is used to append the data/records/rows into a table or partition. This doesnâ€™t modify the existing data.

INSERT INTO TABLE tablename1 
[PARTITION (partcol1=val1, partcol2=val2 ...)] 
select_statement1 FROM from_statement;


#INSERT OVERWRITE is used to replace any existing data in the table or partition and insert with the new rows.

INSERT OVERWRITE TABLE tablename1 
[PARTITION (partcol1=val1, partcol2=val2 ...) 
[IF NOT EXISTS]] 
select_statement1 FROM from_statement;

#Export Table to LOCAL or HDFS using Insert Overwrite
#Can Export to HDFS as file
INSERT OVERWRITE DIRECTORY '/user/data/output/export' ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' 
SELECT * FROM employee; 

#Export to LOCAL as file
INSERT OVERWRITE LOCAL DIRECTORY '/tmp/export' ROW FORMAT DELIMITED FIELDS TERMINATED BY ',' 
SELECT * FROM employee;

In [ ]:
#Create Tables from exsisting tables

#Create Table As Select (CTAS)
CREATE TABLE emp.filter AS SELECT id,name FROM emp.employee WHERE gender = 'F';

'''CTAS has these restrictions:
    The target table cannot be an external table.
    The target table cannot be a list bucketing table.'''

#Create Table LIKE
CREATE TABLE emp.similar LIKE emp.employee;